<div class="actions">
    <button (click)="createExpenseTransaction()" class="light">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        <ng-container i18n>Expense</ng-container>
    </button>
    <button (click)="createRevenueTransaction()" class="light">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        <ng-container i18n>Revenue</ng-container>
    </button>
    <button (click)="createTransferTransaction()" class="light">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        <ng-container i18n>Transfer</ng-container>
    </button>
</div>

<div class="tiles">
    <a [routerLink]="['/earnings', AccountType.EXPENSE]">
        <h2 i18n>Expenses</h2>
        <canvas baseChart 
            [datasets]="expenseChartData" 
            [labels]="expenseChartLabels" 
            [options]="earningsChartOptions"
            [chartType]="'bar'">
        </canvas>
    </a>

    <a [routerLink]="['/earnings', AccountType.REVENUE]">
        <h2 i18n>Revenues</h2>
        <canvas baseChart 
            [datasets]="revenueChartData" 
            [labels]="revenueChartLabels" 
            [options]="earningsChartOptions"
            [chartType]="'bar'">
        </canvas>
    </a>

    <a [routerLink]="['/assets']">
        <h2 i18n>Assets</h2>
        <canvas *ngIf="assetChartInitialized" baseChart 
            [data]="assetChartData" 
            [labels]="assetChartLabels" 
            [chartType]="'doughnut'"
            [options]="assetChartOptions">
        </canvas>
    </a>

    <a [routerLink]="['/transactions']">
        <h2 i18n>Transactions</h2>
        <canvas baseChart 
            [datasets]="transactionsChartData" 
            [labels]="transactionsChartLabels" 
            [options]="transactionsChartOptions"
            [chartType]="'line'">
        </canvas>
    </a>
</div>
