<button (click)="createExpenseTransaction()">Ausgabe buchen</button>
<a [routerLink]="['/earnings', AccountType.EXPENSE]">Ausgaben ansehen</a>
<button (click)="createRevenueTransaction()">Einnahme buchen</button>
<a [routerLink]="['/earnings', AccountType.REVENUE]">Einnahmen ansehen</a>
<button (click)="createGenericTransaction()">Freie Transaktion buchen</button>
<a [routerLink]="['/transactions']">Buchungen ansehen</a>
<button (click)="createTransferTransaction()">Transfer buchen</button>
<a [routerLink]="['/assets']">Bestand ansehen</a>
