.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    button {
        padding: 2px 0;
        width: 31%;
    }

    i {
        color: #555;
        margin-right: 5px;
    }
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    width: 100%;
    padding: 5px;
    margin: 0 0 50px 0;

    &:hover {
        background: #eee;
    }
    
    h2 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0 0 5px 0;
        color: #555;
    }

    div:nth-child(3) {
        margin: 15px 0 0 0;
        text-align: right;
        
        button, a {
            &:nth-child(2) {
                margin-left: 15px;
            }
        }
    }
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 15px;
    background: #fff;
    border-top: 1px solid #ddd;
    div {
        max-width: 1200px;
        text-align: right;
    }
}

@media (min-width: 450px) {
    .actions {
        justify-content: flex-end;

        button {
            width: 100px;
            margin-left: 5px;
        }
    }
}

@media (min-width: 700px) {
    a {
        width: 47%;
    }
}


@media (min-width: 900px) {
    a {
        margin-bottom: 60px;
    }
}