.header-bar {
    background: #000;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
}

a, button {
    text-align: center;
    padding: 6px 12px;
    background: #000;
    &:focus {
        outline: none;
    }
    &:hover {
        background: #666;
    }
}

a {
    display: none;
}

a:first-child {
    display: inline-block;
}

.menu-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    button {
        width: 170px;
        padding: 10px 20px;
        text-align: left;
    }
}

.body {
    margin: 25px 2px 0 2px;
}

@media (min-width: 600px) {
    a {
        display: inline-block;
    }
}

@media (min-width: 1030px) {
    .header {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .body {
        margin: 25px auto 0 auto;
        max-width: 1200px;
    }
}