<div *ngIf="isLoggedIn" class="header-bar">
    <div class="header">
        <div>
            <a [routerLink]="['/']">Übersicht</a>
            <a [routerLink]="['/earnings', AccountType.EXPENSE]">Ausgaben</a>
            <a [routerLink]="['/earnings', AccountType.REVENUE]">Einnahmen</a>
            <a [routerLink]="['/transactions']">Buchungen</a>
            <a [routerLink]="['/assets']">Bestand</a>
        </div>
        <div>
            <button (click)="logout()">Abmelden</button>
        </div>
    </div>
</div>

<div class="body">
    <router-outlet></router-outlet>
</div>

<app-dialogs></app-dialogs>