<div *ngIf="isLoggedIn" class="header-bar">
    <div class="header">
        <div>
            <a [routerLink]="['/']" i18n>Overview</a>
            <a [routerLink]="['/earnings', AccountType.EXPENSE]" i18n>Expenses</a>
            <a [routerLink]="['/earnings', AccountType.REVENUE]" i18n>Revenues</a>
            <a [routerLink]="['/assets']" i18n>Assets</a>
            <a [routerLink]="['/transactions']" i18n>Transactions</a>
        </div>
        <div class="menu-container">
            <button (click)="toggleMenu()">{{username}} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <div class="menu" *ngIf="menuVisible">
                <button (click)="backup()" i18n>Create backup</button>
                <button (click)="logout()" i18n>Sign out</button>
            </div>
        </div>
    </div>
</div>

<div class="body" *ngIf="initialized">
    <router-outlet></router-outlet>
</div>

<div *ngIf="menuVisible" (click)="toggleMenu()" class="menu-overlay"></div>

<app-dialogs></app-dialogs>
