<div class="account">
    Verifikation
    <app-account-name *ngIf="account" [account]="account" [accountHierarchy]="accountHierarchy"></app-account-name>
</div>
<div class="balance">
    Letzter verifizierter Kontostand: {{lastVerifiedBalance | amount}}
</div>
<div class="balance">
    Neuer verifizierter Kontostand: {{newVerifiedBalance | amount}}
</div>
<div class="save">
    <button (click)="save()" [disabled]="isSaveDisabled" class="heavy">Speichern</button>
</div>
<div class="create">
    <button (click)="createExpenseTransaction()" class="light">Ausgabe</button>
    <button (click)="createRevenueTransaction()" class="light">Einnahme</button>
    <button (click)="createTransferTransaction()" class="light">Transfer</button>
    <button (click)="createGenericTransaction()" class="light">Transaktion</button>
</div>

<div *ngFor="let transaction of transactions" class="transaction">
    <label [class.selected]="isVerified(transaction)">
        <input type="checkbox" [checked]="isVerified(transaction)" (change)="toggleVerified(transaction)">
        <div>{{transaction.date | date}}</div>
        <div>{{transaction.name}}</div>
        <div>
            <ng-container *ngFor="let entry of transaction.creditEntries; last as last">
                <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                <ng-container *ngIf="!last">/</ng-container>
            </ng-container>
            &gt;
            <ng-container *ngFor="let entry of transaction.debitEntries; last as last">
                <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                <ng-container *ngIf="!last">/</ng-container>
            </ng-container>
        </div>
        <div>{{getAmount(transaction) | amount}}</div>
    </label>
    <div>
        <button (click)="select(transaction)" class="light">Details</button>
    </div>
</div>

<app-transaction-details *ngIf="selectedTransaction" 
    [transaction]="selectedTransaction"
    [accountHierarchy]="accountHierarchy"
    (deleted)="delete()"
    (closed)="select(null)">
</app-transaction-details>