<div *ngIf="account">
    <div>
        <div>
            Letzter verifizierter Kontostand
            <app-account-name [account]="account" [accountHierarchy]="accountHierarchy"></app-account-name>
        </div>
        <div>{{lastVerifiedBalance | amount}}</div>
    </div>
    <div>
        <div>
            Neuer verifizierter Kontostand
            <app-account-name [account]="account" [accountHierarchy]="accountHierarchy"></app-account-name>
        </div>
        <div>
            {{newVerifiedBalance | amount}}
        </div>
    </div>
    <button (click)="save()" [disabled]="isSaveDisabled">Verifikation speichern</button>
</div>

<div>
    <button (click)="createExpenseTransaction()">Ausgabe buchen</button>
    <button (click)="createRevenueTransaction()">Einnahme buchen</button>
    <button (click)="createGenericTransaction()">Freie Transaktion buchen</button>
    <button (click)="createTransferTransaction()">Transfer buchen</button>
</div>

<div *ngFor="let transaction of transactions">
    <label>
        <input type="checkbox" [checked]="isVerified(transaction)" (change)="toggleVerified(transaction)">
        <div>{{transaction.date | date}}</div>
        <div>{{transaction.name}}</div>
        <div>
            von
            <ng-container *ngFor="let entry of transaction.creditEntries; last as last">
                <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                <ng-container *ngIf="!last">/</ng-container>
            </ng-container>
        </div>
        <div>
            nach
            <ng-container *ngFor="let entry of transaction.debitEntries; last as last">
                <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                <ng-container *ngIf="!last">/</ng-container>
            </ng-container>
        </div>
        <div>{{getAmount(transaction) | amount}}</div>
    </label>
    <button (click)="select(transaction)">Details</button>
</div>

<app-transaction-details *ngIf="selectedTransaction" 
    [transaction]="selectedTransaction"
    [accountHierarchy]="accountHierarchy"
    (deleted)="delete()"
    (closed)="select(null)">
</app-transaction-details>