<ng-container *ngFor="let level of levelArray">&nbsp;&nbsp;</ng-container>

<ng-container [ngSwitch]="account">
    <ng-container *ngSwitchCase="accountHierarchy.root.get(AccountType.ASSET)">
        <ng-container i18n>Assets</ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="accountHierarchy.root.get(AccountType.EQUITY)">
        <ng-container i18n>Equity</ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="accountHierarchy.root.get(AccountType.EXPENSE)">
        <ng-container i18n>Expenses</ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="accountHierarchy.root.get(AccountType.REVENUE)">
        <ng-container i18n>Revenues</ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        {{account.name}}
    </ng-container>
</ng-container>
