<ng-container *ngFor="let level of levelArray">&nbsp;</ng-container>

<ng-container [ngSwitch]="account">
    <ng-container *ngSwitchCase="accountHierarchy.root[AccountType.ASSET]">
        Bestand
    </ng-container>
    <ng-container *ngSwitchCase="accountHierarchy.root[AccountType.EQUITY]">
        Eigenkapital
    </ng-container>
    <ng-container *ngSwitchCase="accountHierarchy.root[AccountType.EXPENSE]">
        Ausgaben
    </ng-container>
    <ng-container *ngSwitchCase="accountHierarchy.root[AccountType.REVENUE]">
        Einnahmen
    </ng-container>
    <ng-container *ngSwitchDefault>
        {{account.name}}
    </ng-container>
</ng-container>
