<h1>Konto erstellen</h1>

<form [formGroup]="form" (ngSubmit)="submit()">

  <label class="row">
    <span>Name</span>
    <input formControlName="name" #nameElement>
  </label>
  <div *ngIf="submitted && name.invalid" class="error">
    <i>!</i> Name erforderlich
  </div>

  <label class="row">
    <span>Kategorie</span>
    <select formControlName="parentId">
      <ng-container *ngIf="accountLists">
        <ng-container *ngIf="[null, accountTypes.ASSET].includes(accountType)">
          <option [ngValue]="accountLists.get(accountTypes.ASSET).rootId">
            Bestandskonten
          </option>
          <option *ngFor="let account of accountLists.get(accountTypes.ASSET).entries" [ngValue]="account.id" 
            [innerHtml]="'&nbsp&nbsp'.repeat(account.hierarchyLevel) + account.name">
          </option>
        </ng-container>
        <ng-container *ngIf="[null, accountTypes.EXPENSE].includes(accountType)">
          <option [ngValue]="accountLists.get(accountTypes.EXPENSE).rootId">
            Ausgaben
          </option>
          <option *ngFor="let account of accountLists.get(accountTypes.EXPENSE).entries" [ngValue]="account.id" 
            [innerHtml]="'&nbsp&nbsp'.repeat(account.hierarchyLevel) + account.name">
          </option>
        </ng-container>
        <ng-container *ngIf="[null, accountTypes.REVENUE].includes(accountType)">
          <option [ngValue]="accountLists.get(accountTypes.REVENUE).rootId">
            Einnahmen
          </option>
          <option *ngFor="let account of accountLists.get(accountTypes.REVENUE).entries" [ngValue]="account.id" 
            [innerHtml]="'&nbsp&nbsp'.repeat(account.hierarchyLevel) + account.name">
          </option>
        </ng-container>
      </ng-container>
    </select>
  </label>
  <div *ngIf="submitted && parentId.invalid" class="error">
    <i>!</i> Kategorie erforderlich
  </div>

  <div class="buttons">
    <button type="button" (click)="cancel()">Abbrechen</button>
    <button type="submit">Erstellen</button>
  </div>

</form>