<form [formGroup]="form" (ngSubmit)="submit()" [class.show-errors]="showErrors">

    <div class="field">
        <label>
            <span i18n>Date</span>
            <input formControlName="date">
        </label>
        <div *ngIf="showErrors && date.invalid" class="error" i18n>
            Valid date required.
        </div>
    </div>

    <div class="field">
        <label>
            <span i18n>Description</span>
            <input formControlName="name" 
                (focus)="onNameFocus()"
                (blur)="onNameBlur()" 
                (keydown.arrowdown)="onNameDown($event)"
                (keydown.arrowup)="onNameUp($event)"
                (keydown.enter)="onNameEnter($event)">
            <ul *ngIf="showSuggestions && suggestions.length">
              <li *ngFor="let suggestion of suggestions; let i = index" 
                (mousedown)="onSuggestionSelected(suggestion)"
                [class.active]="i == activeSuggestion">
                {{suggestion.name}}
              </li>
            </ul>
        </label>
        <div *ngIf="showErrors && name.invalid" class="error" i18n>
            Description required
        </div>
    </div>

    <div formArrayName="creditEntries" class="list">
        <div class="entry-label" i18n>Source account</div>
        <div *ngFor="let entry of creditEntries.controls; let i = index; first as first"
            [formGroupName]="i" class="entry">
            <label class="account">
                <span>Konto</span>
                <select formControlName="account">
                    <option *ngFor="let account of creditAccountList" [ngValue]="account.id">
                        <app-account-name [account]="account" [accountHierarchy]="accountHierarchy"
                            [indented]="true">
                        </app-account-name>
                    </option>
                </select>
                <button type="button" (click)="createCreditAccount(i)" class="light" i18n>Create</button>
            </label>
            <label class="amount">
                <span i18n>Amount</span>
                <input formControlName="amount" #creditEntryAmount>
            </label>
            <button type="button" *ngIf="variableEntries" (click)="deleteCreditEntry(i)"
                [disabled]="creditEntries.length < 2" class="delete light" i18n>
                Delete
            </button>
            <div *ngIf="showErrors && entry.get('account').invalid" class="error" i18n>
                Account required
            </div>
            <div *ngIf="showErrors && entry.get('amount').invalid" class="error" i18n>
                Valid amount required
            </div>
        </div>
        <div class="add">
            <button type="button" *ngIf="variableEntries" (click)="addCreditEntry()" class="light" i18n>
                Add
            </button>
        </div>
    </div>

    <div formArrayName="debitEntries" class="list">
        <div class="entry-label" i18n>Target account</div>
        <div *ngFor="let entry of debitEntries.controls; let i = index; first as first"
            [formGroupName]="i" class="entry">
            <label class="account">
                <span i18n>Account</span>
                <select formControlName="account">
                    <option *ngFor="let account of debitAccountList" [ngValue]="account.id">
                        <app-account-name [account]="account" [accountHierarchy]="accountHierarchy"
                            [indented]="true">
                        </app-account-name>
                    </option>
                </select>
                <button type="button" (click)="createDebitAccount(i)" class="light" i18n>Create</button>
            </label>
            <label class="amount">
                <span i18n>Amount</span>
                <input formControlName="amount">
            </label>
            <button type="button" *ngIf="variableEntries" (click)="deleteDebitEntry(i)"
                [disabled]="debitEntries.length < 2" class="delete light" i18n>
                Delete
            </button>
            <div *ngIf="showErrors && entry.get('account').invalid" class="error" i18n>
                Account required
            </div>
            <div *ngIf="showErrors && entry.get('amount').invalid" class="error" i18n>
                Valid amount required
            </div>
        </div>
        <div class="add">
            <button type="button" *ngIf="variableEntries" (click)="addDebitEntry()" class="light" i18n>
                Add
            </button>
        </div>
    </div>


    <div>
        <div *ngIf="showErrors && form.errors?.accountsUnique" class="error" i18n>
            Duplicate entry
            <app-account-name [account]="accountHierarchy.accountsById.get(form.errors.accountsUnique.duplicate)"
                [accountHierarchy]="accountHierarchy">
            </app-account-name>
        </div>
        <div *ngIf="showErrors && form.errors?.totalIsZero" class="error" i18n>
            Total of amounts must be zero
        </div>
    </div>

    <div class="buttons">
        <button type="button" (click)="cancel()" i18n>Cancel</button>
        <button [disabled]="submitted" i18n>Save</button>
    </div>

</form>
