<form (ngSubmit)="submit()" [formGroup]="form">
  <label>
    <span>Von</span>
    <input formControlName="after" #after [class.show-errors]="showErrors">
  </label>
  <label>
    <span>Bis</span>
    <input formControlName="before" #before [class.show-errors]="showErrors">
  </label>
  <button type="submit">Suchen</button>
</form>

<div class="create">
  <button (click)="createGenericTransaction()">Erstellen</button>
</div>

<div *ngFor="let transaction of transactions" class="transaction">
  <div>{{transaction.date | formatDateIso}}</div>
  <div>{{transaction.name}}</div>
  <div>
    von
    <ng-container *ngFor="let account of transaction.negatives; last as last">
      <ng-container [ngSwitch]="account">
        <ng-container *ngSwitchCase="'[ASSET]'">Bestand</ng-container>
        <ng-container *ngSwitchCase="'[EXPENSE]'">Ausgaben</ng-container>
        <ng-container *ngSwitchCase="'[REVENUE]'">Einnahmen</ng-container>
        <ng-container *ngSwitchDefault>{{account}}</ng-container>
      </ng-container>
      <ng-container *ngIf="!last">, </ng-container>
    </ng-container>
    nach
    <ng-container *ngFor="let account of transaction.positives; last as last">
      <ng-container [ngSwitch]="account">
        <ng-container *ngSwitchCase="'[ASSET]'">Bestand</ng-container>
        <ng-container *ngSwitchCase="'[EXPENSE]'">Ausgaben</ng-container>
        <ng-container *ngSwitchCase="'[REVENUE]'">Einnahmen</ng-container>
        <ng-container *ngSwitchDefault>{{account}}</ng-container>
      </ng-container>
      <ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </div>
  <div>{{transaction.amount | formatAmount}}</div>
</div>
