<div *ngIf="message != null" class="overlay">
    <div class="dialog">
        <div [ngSwitch]="message">
            <ng-container *ngSwitchCase="DialogMessage.CONNECTION_ERROR">
                <ng-container i18n>Cannot connect to the server. Please retry later.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.INTERNAL_SERVER_ERROR">
                <ng-container i18n>The application has encountered an unknown error. Please retry later.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_SESSION_EXPIRED">
                <ng-container i18n>Session expired. Please login again.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_USERNAME_AND_PASSWORD_REQUIRED">
                <ng-container i18n>Please enter username and password.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_INVALID_AUTHENTICATION">
                <ng-container i18n>Username or password invalid. Please try again.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_USER_ALREADY_EXITS">
                <ng-container i18n>Username {{parameters.username}} is already in use. Please choose a different username.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_INVALID_USERNAME">
                <ng-container i18n>Username must be between 5 and 50 characters long.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_INVALID_PASSWORD">
                <ng-container i18n>Password must be between 5 and 50 characters long.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ERROR_INVALID_REPOSITORY">
                <ng-container i18n>The backup is corrupted and cannot be restored.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.REGISTRATION_SUCCESS">
                <ng-container i18n>You were registered successfully. Please login.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.REMOVE_TRANSACTION">
                <ng-container i18n>Do you want to delete the transaction?</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ACCOUNT_DEACTIVATED">
                <ng-container i18n>{{parameters.name}} was disabled.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.ACCOUNT_ACTIVATED">
                <ng-container i18n>{{parameters.name}} was enabled.</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="DialogMessage.VERIFIED">
                <ng-container i18n>{{parameters.count}} transactions were audited. The new audited balance is {{parameters.newVerifiedBalance | amount}}.</ng-container>
            </ng-container>
        </div>
        <div>
            <button (click)="ok()" data-test-id="dialog-ok" i18n>OK</button>
            <button *ngIf="showCancel" (click)="cancel()" data-test-id="dialog-cancel" i18n>Cancel</button>
        </div>
    </div>
</div>