* { 
    box-sizing: border-box; 
}

body {
    font-family: "Open Sans", sans-serif; 
    color: #005B7F;
    margin: 0;
    overflow-y: scroll;
}

input, textarea, select { 
    font: inherit; 
    color: inherit; 
    margin: 0; 
    border: 1px solid #83dbff; 
    height: 30px;
    box-shadow: 0 0 2px #83dbff inset;
    &:focus { 
        outline: 1px solid #00b7ff; 
    }
}

input, textarea { 
    padding-left: 4px; 
}

a, button { 
    text-align: center;
    font: inherit; 
    display: inline-block;
    border: none; 
    outline: none; 
    color: #FFF; 
    margin: 0; 
    cursor: pointer; 
    height: 30px;
    text-decoration: none;
    background: #3e748a;
    &:focus {
        outline: 2px solid #83dbff;
    }
    &:disabled {
        background: #9bbecc;
        cursor: default;
    }
}
a {
    padding-top: 4px;
}

.clearfix:after { 
    content: " "; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both; 
}

h1 { 
    font-size: 20px; 
    font-weight: inherit; 
    margin: 0 0 10px 0; 
}

form {
    .row {
        margin-top: 30px;
    }
    .row label, label.row {
        display: flex;
        align-items: baseline;
        span {
            width: 100px;
        }
        input, select {
            width: calc(100% - 100px);
        }
    }

    .error {
        margin: 1px 0 0 100px;
        i {
            font-style: normal;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #f00;
            color: #fff;
            text-align: center;
            font-weight: 400;
        }
    }

    .group > div {
        margin-top: 30px;
    }
    .group div:last-child {
        text-align: right;
    }
    .group .row {
        margin-top: 5px;
    }
    .group button {
        width: 200px;
    }

    .splitted {
        display: flex;
        label {
            display: inline-flex;
            width: calc(100% - 100px);
        }
        button {
            width: 100px;
        }
    }

    .buttons {
        margin-top: 50px;
        text-align: right;
        button {
            background: #FF8647;
            width: 120px;
            margin-left: 20px;
            font-weight: 400;
        } 
        button:disabled {
            background: #ffab7f;
        } 
    }

}


@media (min-width: 700px) {
    form {
        .row label, label.row {
            span {
                width: 200px;
            }
            input, select {
                width: calc(100% - 200px);
            }
        }
        .error {
            margin-left: 200px;
        }
    }
}
