.types {
    text-align: right;
    select { width: 66.5%; }
}

.row {
    display: flex;
    justify-content: space-between;
    & > div { width: 33%; }
    margin-top: 10px;
}

.row.title { margin: 20px 0; }

.date-box {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    justify-content: space-between;
    span { 
        width: 100%; 
        padding: 3px 0; 
        display: inline-block; 
        margin-bottom: 2px;
        text-align: center; 
        border: 1px solid #3e748a;
    }
    button { width: calc(50% - 1px); }
}

@media (min-width: 520px) {
    .date-box {
        justify-content: flex-end;
        span { 
            width: calc(100% - 64px); 
        }
        button { 
            margin-left: 2px;
            width: 30px;
        }
    }
}

@media (min-width: 700px) {
    .date-box {
        span { 
            width: 100px; 
        }
    }
}

.category data { font-weight: 300; }

.data {
    cursor: pointer;
}

.name { 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.bar { display: none; }

.value {
    text-align: right;
}

.actions {
    text-align: right;
    margin: 0 0 20px 0; 
    a, button { 
        width: 100px;
        margin: 2px 0 2px 2px; 
    }
}