<div class="types">
  <select [formControl]="timespanType">
    <option [ngValue]="timespanTypes.MONTH">Monat</option>
    <option [ngValue]="timespanTypes.YEAR">Jahr</option>
  </select>
</div>

<div class="row title">
  <div></div>
  <div>
    <div class="date-box">
      <span [ngSwitch]="timespanType.value">
        <ng-container *ngSwitchCase="timespanTypes.MONTH">{{primaryDate | date:'LLL y'}}</ng-container>
        <ng-container *ngSwitchCase="timespanTypes.YEAR">{{primaryDate | date:'y'}}</ng-container>
      </span>
      <button (click)="decrementPrimary()">&lt;</button>
      <button (click)="incrementPrimary()">&gt;</button>
    </div>
  </div>
  <div>
    <div class="date-box">
      <span [ngSwitch]="timespanType.value">
        <ng-container *ngSwitchCase="timespanTypes.MONTH">{{secondaryDate | date:'LLL y'}}</ng-container>
        <ng-container *ngSwitchCase="timespanTypes.YEAR">{{secondaryDate | date:'y'}}</ng-container>
      </span>
      <button (click)="decrementSecondary()">&lt;</button>
      <button (click)="incrementSecondary()">&gt;</button>
    </div>
  </div>
</div>

<div class="account" *ngFor="let earning of earnings" [class.category]="earning.level != 0">
  <div class="row data" (click)="earning.expanded = !earning.expanded">
    <div class="name" *ngIf="earning.level == 0" [ngSwitch]="accountType">
      <ng-container *ngSwitchCase="accountTypes.EXPENSE">Ausgaben</ng-container>
      <ng-container *ngSwitchCase="accountTypes.REVENUE">Einnahmen</ng-container>
    </div>
    <div class="name" *ngIf="earning.level != 0">
      <span [innerHtml]="'&nbsp&nbsp'.repeat(earning.level - 1)"></span>
      {{earning.name}}
    </div>
    <div>
      <div class="bar"><div [style.width.%]="earning.primaryValue / maxValue"></div></div>
      <div class="value">{{earning.primaryValue | formatAmount}}</div>
    </div>
    <div>
      <div class="bar"><div [style.width.%]="earning.secondaryValue / maxValue"></div></div>
      <div class="value">{{earning.secondaryValue | formatAmount}}</div>
    </div>
  </div>
  <div class="actions" *ngIf="earning.expanded">
    <a [routerLink]="[]">Ansehen</a>
    <a [routerLink]="[]">Bearbeiten</a>
    <button (click)="remove()">Löschen</button>
  </div>
</div>
