.types {
    text-align: right;
    select { width: 66.5%; }
}

.row {
    display: flex;
    justify-content: space-between;
    & > div { width: 33%; }
    margin-top: 10px;
}

.row.title { margin: 20px 0; }

.date-box {
    border: 1px solid #3e748a;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    span { 
        width: 100%; 
        padding: 3px 0; 
        display: inline-block; 
        text-align: center; 
    }
    button { width: 50%; }
}

.category { font-weight: 300; }

.name { 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.bar { display: none; }

.value {
    text-align: right;
}