<form [formGroup]="form" (ngSubmit)="submit()" [class.show-errors]="showErrors" class="search">
    <label>
        <span i18n>Balance at</span>
        <input formControlName="date" data-test-id="date">
    </label>
    <button type="submit" data-test-id="calculate" i18n>Calculate</button>
</form>

<div class="total" data-test-id="total">
    <div i18n>Total</div>
    <div>{{total | amount}}</div>
</div>
<div *ngFor="let asset of assets" (click)="select(asset)" class="asset" data-test-id="asset">
    <div>
        <app-account-name [account]="asset.account"
            [accountHierarchy]="accountHierarchy"
            [indented]="true"
            [indentationOffset]="-1">
        </app-account-name>
    </div>
    <div>{{asset.balance | amount}}</div>
</div>

<div *ngIf="selectedAsset" class="details">
    <div>
        <div>
            <div i18n>Name</div>
            <div>{{selectedAsset.account.name}}</div>
        </div>
        <div>
            <div i18n>Group</div>
            <div>
                <app-account-name [account]="selectedAsset.account.parent" [accountHierarchy]="accountHierarchy">
                </app-account-name>
            </div>
        </div>
        <div>
            <div i18n>Enabled</div>
            <div *ngIf="selectedAsset.account.active" i18n>Yes</div>
            <div *ngIf="!selectedAsset.account.active" i18n>No</div>
        </div>
        <div>
            <div><ng-container i18n>Balance at</ng-container> {{selectedAsset.date | date}}</div>
            <div>{{selectedAsset.balance | amount}}</div>
        </div>
        <div>
            <button (click)="performance()" i18n>Performance</button>
            <button *ngIf="selectedAsset.account.active" (click)="setActive(false)" i18n>Disable</button>
            <button *ngIf="!selectedAsset.account.active" (click)="setActive(true)" i18n>Enable</button>
            <a [routerLink]="['/accounts', selectedAsset.account.id]" i18n>Edit</a>
            <button (click)="verify()" i18n>Audit</button>
            <button (click)="select(null)" i18n>Close</button>
        </div>
    </div>
</div>
