<div class="details">
    <div>
        <div>
            <div>Datum</div>
            <div>{{transaction.date | date}}</div>
        </div>
        <div>
            <div>Beschreibung</div>
            <div>{{transaction.name}}</div>
        </div>
        <div>
            <div>Von</div>
            <div *ngFor="let entry of transaction.creditEntries" class="entries">
                <div>
                    <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                </div>
                <div>
                    <ng-container *ngIf="entry.verified">(v)</ng-container>
                    {{entry.amount | amount}}
                </div>
            </div>
        </div>
        <div>
            <div>Nach</div>
            <div *ngFor="let entry of transaction.debitEntries" class="entries">
                <div>
                    <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                </div>
                <div>
                    <ng-container *ngIf="entry.verified">(v)</ng-container>
                    {{entry.amount | amount}}
                </div>
            </div>
        </div>
        <div>
            <button (click)="delete()">Löschen</button>
            <button (click)="edit()">Bearbeiten</button>
            <button (click)="close()">Schließen</button>
        </div>
    </div>
</div>
