<div class="details">
    <div>
        <div>
            <div i18n>Date</div>
            <div>{{transaction.date | date}}</div>
        </div>
        <div>
            <div i18n>Description</div>
            <div>{{transaction.name}}</div>
        </div>
        <div>
            <div i18n>From</div>
            <div *ngFor="let entry of transaction.creditEntries" class="entries">
                <div>
                    <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                </div>
                <div>
                    <ng-container *ngIf="entry.verified">(v)</ng-container>
                    {{entry.amount | amount}}
                </div>
            </div>
        </div>
        <div>
            <div i18n>To</div>
            <div *ngFor="let entry of transaction.debitEntries" class="entries">
                <div>
                    <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
                </div>
                <div>
                    <ng-container *ngIf="entry.verified">(v)</ng-container>
                    {{entry.amount | amount}}
                </div>
            </div>
        </div>
        <div>
            <button (click)="delete()" i18n>Delete</button>
            <button (click)="edit()" i18n>Edit</button>
            <button (click)="close()" i18n>Close</button>
        </div>
    </div>
</div>
