<form [formGroup]="form" (ngSubmit)="submit()" [class.show-errors]="showErrors" class="search">
    <select formControlName="dateSelectionType" class="type">
        <option [value]="MONTH" i18n>Monthly overview</option>
        <option [value]="YEAR" i18n>Annual overview</option>
        <option [value]="INTERVAL" i18n>Free period</option>
    </select>
    <ng-container [ngSwitch]="dateSelectionType.value">
        <div *ngSwitchCase="INTERVAL" class="dates">
            <label>
                <span i18n>After</span>
                <input formControlName="after" #after>
            </label>
            <label>
                <span i18n>Before</span>
                <input formControlName="before" #before>
            </label>
        </div>
        <div *ngSwitchCase="MONTH" class="month">
            <label>
                <span i18n>Month</span>
                <input formControlName="month" #month>
            </label>
            <button type="button" (click)="decrementMonth()" class="change-button">-</button>
            <button type="button" (click)="incrementMonth()" class="change-button">+</button>
        </div>
        <div *ngSwitchCase="YEAR" class="year">
            <label>
                <span i18n>Year</span>
                <input formControlName="year" #year>
            </label>
            <button type="button" (click)="decrementYear()" class="change-button">-</button>
            <button type="button" (click)="incrementYear()" class="change-button">+</button>
        </div>
    </ng-container>
    <select formControlName="account" class="account">
        <option [ngValue]="null" i18n>(All accounts)</option>
        <option *ngFor="let account of accountsList" [ngValue]="account.id">
            <app-account-name [account]="account" [accountHierarchy]="accountHierarchy" [indented]="true">
            </app-account-name>
        </option>
    </select>
    <div class="submit">
        <button type="submit" i18n>Refresh</button>
    </div>
    <div class="create">
        <button type="button" (click)="create()">
            <i class="fa fa-plus" aria-hidden="true"></i> 
            <ng-container>Transaction</ng-container>
        </button>
    </div>
</form>

<div *ngFor="let transaction of transactions" (click)="select(transaction)" class="transaction">
    <div>{{transaction.date | date}}</div>
    <div>{{transaction.name}}</div>
    <div>
        <ng-container>From</ng-container>
        <ng-container *ngFor="let entry of transaction.creditEntries; last as last">
            <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
            <ng-container *ngIf="!last">/</ng-container>
        </ng-container>
    </div>
    <div>
        <ng-container>To</ng-container>
        <ng-container *ngFor="let entry of transaction.debitEntries; last as last">
            <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
            <ng-container *ngIf="!last">/</ng-container>
        </ng-container>
    </div>
    <div>{{transaction.total | amount}}</div>
</div>

<app-transaction-details *ngIf="selectedTransaction" 
    [transaction]="selectedTransaction"
    [accountHierarchy]="accountHierarchy"
    (deleted)="delete()"
    (closed)="select(null)">
</app-transaction-details>