<form [formGroup]="form" (ngSubmit)="submit()" [class.show-errors]="showErrors">
    <select formControlName="dateSelectionType">
        <option [value]="MONTH">Monat</option>
        <option [value]="YEAR">Jahr</option>
        <option [value]="INTERVAL">Zeitraum</option>
    </select>
    <ng-container [ngSwitch]="dateSelectionType.value">
        <div *ngSwitchCase="INTERVAL">
            <label>
                <span>von</span>
                <input formControlName="after" #after>
            </label>
            <label>
                <span>bis</span>
                <input formControlName="before">
            </label>
        </div>
        <div *ngSwitchCase="MONTH">
            <button type="button" (click)="decrementMonth()">&lt;</button>
            <span>{{month < 10 ? '0' + month : month}} / {{year}}</span>
            <button type="button" (click)="incrementMonth()">&gt;</button>
        </div>
        <div *ngSwitchCase="YEAR">
            <button type="button" (click)="decrementYear()">&lt;</button>
            <span>{{year}}</span>
            <button type="button" (click)="incrementYear()">&gt;</button>
        </div>
    </ng-container>
    <select formControlName="account">
        <option [value]="null">(Alle Konten)</option>
        <option *ngFor="let account of accountsList" [ngValue]="account.id">
            <app-account-name [account]="account" [accountHierarchy]="accountHierarchy" [indented]="true">
            </app-account-name>
        </option>
    </select>
    <button type="submit">Suchen</button>
</form>

<div *ngFor="let transaction of transactions" (click)="select(transaction)">
    <div>{{transaction.date | date}}</div>
    <div>{{transaction.name}}</div>
    <div>
        von
        <ng-container *ngFor="let entry of transaction.creditEntries; last as last">
            <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
            <ng-container *ngIf="!last">/</ng-container>
        </ng-container>
    </div>
    <div>
        nach
        <ng-container *ngFor="let entry of transaction.debitEntries; last as last">
            <app-account-name [account]="entry.account" [accountHierarchy]="accountHierarchy"></app-account-name>
            <ng-container *ngIf="!last">/</ng-container>
        </ng-container>
    </div>
    <div>{{transaction.total | amount}}</div>
</div>

<app-transaction-details *ngIf="selectedTransaction" 
    [transaction]="selectedTransaction"
    [accountHierarchy]="accountHierarchy"
    (deleted)="delete()"
    (closed)="select(null)">
</app-transaction-details>