i {
    color: #555;
    margin-right: 5px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    & > * {
        width: 100%;
    }
}

.type, .dates, .month, .year, .account {
    margin-bottom: 10px;
}

.create {
    order: -1;
    margin-bottom: 20px;
}

input {
    padding: 0 2px;
}

button[type=button] {
    padding: 0 8px;
}

.dates, .year, .month {
    display: flex;
    label {
        flex-grow: 1;
        display: flex;
        align-items: baseline;
        span {
            margin-right: 5px;
        }
        input {
            flex-grow: 1;
            width: 100px;
        }
    }
}

.dates {
    label:first-child input {
        margin-right: 5px;
    }
}


.change-button {
    width: 25px;
}

.submit, .create {
    text-align: right;
}

.show-errors .ng-invalid {
    background: red;
}

.transaction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 0;
    cursor: pointer;

    div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    div:nth-child(1) {
        width: 30%;
        font-size: 0.9em;
    }
    div:nth-child(2) {
        width: 70%;
        text-align: right;
        font-size: 0.9em;
    }
    div:nth-child(3) {
        width: 35%;
    }
    div:nth-child(4) {
        width: 35%;
    }
    div:nth-child(5) {
        width: 30%;
        text-align: right;
    }

    &:hover {
        background: #eee;
    }
}

@media(min-width: 500px) {
    .transaction {
        div:nth-child(1) {
            width: 15%;
            font-size: unset;
        }
        div:nth-child(2) {
            width: 15%;
            font-size: unset;
            text-align: left;
        }
        div:nth-child(3) {
            width: 20%;
        }
        div:nth-child(4) {
            width: 20%;
        }
        div:nth-child(5) {
            width: 15%;
            text-align: right;
        }
    }
}

@media(min-width: 450px) {
    .search {
        .type {
            width: 150px;
            margin-right: 10px;
        }

        .year, .month, .dates {
            width: unset;
            flex-grow: 1;
        }
    }
}

@media(min-width: 750px) {
    .search {
        .year, .month, .dates {
            margin-right: 10px;
        }

        .account {
            width: 150px;
            margin-right: 10px;
            flex-grow: unset;
        }

        .submit {
            width: unset;
        }
    }
}

@media(min-width: 900px) {
    .search {
        .year, .month, .dates {
            flex-grow: unset;
        }

        .create {
            width: unset;
            flex-grow: 1;
        }
    }
    
    .create {
        order: 0;
    }
}