<div class="overlay" *ngIf="message != null">
  <div class="dialog">
    <div [ngSwitch]="message">
      <ng-container *ngSwitchCase="DialogMessage.REMOVE_TRANSACTION">
        Transaktion löschen?
      </ng-container>
      <ng-container *ngSwitchCase="DialogMessage.REMOVE_ACCOUNT">
        Konto löschen?
      </ng-container>
    </div>
    <div>
      <button *ngIf="buttons.includes(DialogButton.OK)" (click)="onClick(DialogButton.OK)">
        OK
      </button>
      <button *ngIf="buttons.includes(DialogButton.CANCEL)" (click)="onClick(DialogButton.CANCEL)">
        Abbrechen
      </button>
    </div>
  </div>
</div>