:host { 
    display: block;
    max-width: 1000px; 
    margin: 0 auto; 
}

div {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #83dbff;
    margin-bottom: 10px;
    text-align: right;
}

button {
    width: calc((100% - 6px) / 4);
    margin-left: 2px;
    padding: 0;
}

button:nth-child(1) {
    float: left;
    margin-left: 0;
}

@media (min-width: 420px) {
    div {
        padding: 20px 0 10px 0;
        margin-bottom: 40px;
    }

    button {
        width: 90px;
        margin-left: 4px;
    }
}