form {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    max-width: 320px;

    label {
        max-width: 200px;
        display: flex;
        align-items: baseline;
        width: calc(100% - 100px);
    }
    span {
        width: 60px;
    }
    input {
        width: calc(100% - 60px);
    }
    input.ng-invalid.show-errors {
        border-color: #ff8787;
        box-shadow: 0 0 2px #ff8787 inset;
    }
    input.ng-invalid.show-errors:focus {
        outline-color: #ff8787;
    }
    button {
        width: 100px;
        margin-left: 1px;
        padding: 0;
    }
}

.asset {
    border-top: 1px solid #c1e2ef;
    &:nth-child(1) {
        border-top: none;
    }
}

.data {
    display: flex;
    & > div { width: 50%; }
    & > div:nth-child(2) { text-align: right; }
    padding: 5px 0;
    cursor: pointer;
    &:hover {
        background: #e2f1f7;
    }
}

.name { 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.bar { display: none; }

.actions {
    text-align: right;
    margin: 10px 0 20px 0; 
    a, button { 
        width: 100px;
        margin: 2px 0 2px 2px; 
    }
}