<div class="startup">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="field">
            <label class="field">
                <span i18n>Username</span>
                <input formControlName="username">
            </label>
        </div>
        <div class="field">
            <label class="field">
                <span i18n>Password</span>
                <input formControlName="password" type="password">
            </label>
        </div>
        <button type="submit" i18n>Sign in</button>
        <div class="sign-up">
            <button type="button" (click)="signUp()" i18n>Sign up</button>
        </div>
    </form>
</div>
