.sign-up {
    border-top: 1px solid #bbb;
    margin-top: 20px;
    padding-top: 20px;
    button {
        background: #009;
        margin: 0;
    }
    button:hover {
        background: #00d;
    }   
}