<div class="actions">
    <button (click)="createExpenseTransaction()" class="light" *ngIf="accountType == AccountType.EXPENSE">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        <ng-container i18n>Expense</ng-container>
    </button>
    <button (click)="createRevenueTransaction()" class="light" *ngIf="accountType == AccountType.REVENUE">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        <ng-container i18n>Revenue</ng-container>
    </button>
</div>

<div class="search">
    <div>
        <select [formControl]="presentation">
            <ng-container *ngIf="accountType == AccountType.EXPENSE">
                <option [ngValue]="Presentation.CHART_MONTH" i18n>Chart monthly expenses</option>
                <option [ngValue]="Presentation.CHART_YEAR" i18n>Chart annual expenses</option>
                <option [ngValue]="Presentation.LIST_MONTH" i18n>Table monthly expenses</option>
                <option [ngValue]="Presentation.LIST_YEAR" i18n>Table annual expenses</option>
            </ng-container>
            <ng-container *ngIf="accountType == AccountType.REVENUE">
                <option [ngValue]="Presentation.CHART_MONTH" i18n>Chart monthly revenues</option>
                <option [ngValue]="Presentation.CHART_YEAR" i18n>Chart annual revenues</option>
                <option [ngValue]="Presentation.LIST_MONTH" i18n>Table monthly revenues</option>
                <option [ngValue]="Presentation.LIST_YEAR" i18n>Table annual revenues</option>
            </ng-container>
        </select>
    </div>
    <ng-container *ngIf="earnings">
        <ng-container *ngFor="let date of dates; let i = index" [ngSwitch]="presentation.value">
            <div *ngSwitchCase="Presentation.LIST_MONTH">
                <button (click)="decrementInterval(i)" class="light">&lt;</button>
                <span>{{date | date:'month'}}</span>
                <button (click)="incrementInterval(i)" class="light">&gt;</button>
            </div>        
            <div *ngSwitchCase="Presentation.LIST_YEAR">
                <button (click)="decrementInterval(i)" class="light">&lt;</button>
                <span>{{date | date:'year'}}</span>
                <button (click)="incrementInterval(i)" class="light">&gt;</button>
            </div>        
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!earnings">
        <div></div>
        <div></div>
    </ng-container>
</div>

<div *ngIf="earnings" class="row">
    <div i18n>Total</div>
    <div *ngFor="let total of totals">{{total | amount}}</div>
</div>

<div *ngFor="let earning of earnings" (click)="select(earning)" class="row earning">
    <div>
        <app-account-name [account]="earning.account" 
            [accountHierarchy]="accountHierarchy" 
            [indented]="true"
            [indentationOffset]="-2">
        </app-account-name>
    </div>
    <div *ngFor="let balance of earning.balances">{{balance.amount | amount}}</div>
</div>

<div *ngIf="chartData">
    <canvas baseChart 
        [datasets]="chartData" 
        [labels]="chartLabels" 
        [options]="chartOptions"
        [chartType]="'bar'">
    </canvas>
</div>

<div *ngIf="selection" class="details">
    <div>
        <div>
            <div i18n>Name</div>
            <div>{{selection.account.name}}</div>
        </div>
        <div>
            <div i18n>Group</div>
            <div>
                <app-account-name [account]="selection.account.parent" 
                    [accountHierarchy]="accountHierarchy">
                </app-account-name>
            </div>
        </div>
        <div>
            <div i18n>Enabled</div>
            <div *ngIf="selection.account.active" i18n>Yes</div>
            <div *ngIf="!selection.account.active" i18n>No</div>
        </div>
        <div *ngFor="let balance of selection.balances" class="balance">
            <div [ngSwitch]="presentation.value">
                <ng-container *ngSwitchCase="Presentation.LIST_MONTH">
                    <ng-container i18n>Balance</ng-container>
                    {{balance.date | date:'month'}}
                </ng-container>
                <ng-container *ngSwitchCase="Presentation.LIST_YEAR">
                    <ng-container i18n>Balance</ng-container>
                    {{balance.date | date:'year'}}
                </ng-container>
            </div>
            <div>{{balance.amount | amount}}</div>
            <button (click)="showTransactions(balance.date)" i18n>Transactions</button>
        </div>
        <div>
            <button *ngIf="selection.account.active" (click)="setActive(false)" i18n>Disable</button>
            <button *ngIf="!selection.account.active" (click)="setActive(true)" i18n>Enable</button>
            <a [routerLink]="['/accounts', selection.account.id]" i18n>Edit</a>
            <button (click)="select(null)" i18n>Close</button>
        </div>
    </div>
</div>
