<div class="search">
    <div>
        <select [formControl]="presentation">
            <ng-container *ngIf="accountType == AccountType.EXPENSE">
                <option [ngValue]="Presentation.CHART_MONTH">Grafik Monatsausgaben</option>
                <option [ngValue]="Presentation.CHART_YEAR">Grafik Jahresausgaben</option>
                <option [ngValue]="Presentation.LIST_MONTH">Liste Monatsausgaben</option>
                <option [ngValue]="Presentation.LIST_YEAR">Liste Jahresausgaben</option>
            </ng-container>
            <ng-container *ngIf="accountType == AccountType.REVENUE">
                <option [ngValue]="Presentation.CHART_MONTH">Grafik Monatseinnahmen</option>
                <option [ngValue]="Presentation.CHART_YEAR">Grafik Jahreseinnahmen</option>
                <option [ngValue]="Presentation.LIST_MONTH">Liste Monatseinnahmen</option>
                <option [ngValue]="Presentation.LIST_YEAR">Liste Jahreseinnahmen</option>
            </ng-container>
        </select>
    </div>
    <ng-container *ngIf="earnings">
        <ng-container *ngFor="let date of dates; let i = index" [ngSwitch]="presentation.value">
            <div *ngSwitchCase="Presentation.LIST_MONTH">
                <button (click)="decrementInterval(i)" class="light">&lt;</button>
                <span>{{date | date:'month'}}</span>
                <button (click)="incrementInterval(i)" class="light">&gt;</button>
            </div>        
            <div *ngSwitchCase="Presentation.LIST_YEAR">
                <button (click)="decrementInterval(i)" class="light">&lt;</button>
                <span>{{date | date:'year'}}</span>
                <button (click)="incrementInterval(i)" class="light">&gt;</button>
            </div>        
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!earnings">
        <div></div>
        <div></div>
    </ng-container>
</div>

<div *ngIf="earnings" class="row">
    <div>Summe</div>
    <div *ngFor="let total of totals">{{total | amount}}</div>
</div>

<div *ngFor="let earning of earnings" (click)="select(earning)" class="row earning">
    <div>
        <app-account-name [account]="earning.account" 
            [accountHierarchy]="accountHierarchy" 
            [indented]="true"
            [indentationOffset]="-2">
        </app-account-name>
    </div>
    <div *ngFor="let balance of earning.balances">{{balance.amount | amount}}</div>
</div>

<div *ngIf="chartData">
    <canvas baseChart 
        [datasets]="chartData" 
        [labels]="chartLabels" 
        [options]="chartOptions"
        [chartType]="'bar'">
    </canvas>
</div>

<div *ngIf="selection" class="details">
    <div>
        <div>
            <div>Name</div>
            <div>{{selection.account.name}}</div>
        </div>
        <div>
            <div>Gruppe</div>
            <div>
                <app-account-name [account]="selection.account.parent" 
                    [accountHierarchy]="accountHierarchy">
                </app-account-name>
            </div>
        </div>
        <div>
            <div>Aktiv</div>
            <div *ngIf="selection.account.active">Ja</div>
            <div *ngIf="!selection.account.active">Nein</div>
        </div>
        <div *ngFor="let balance of selection.balances" class="balance">
            <div [ngSwitch]="presentation.value">
                <ng-container *ngSwitchCase="Presentation.LIST_MONTH">
                    Stand {{balance.date | date:'month'}}
                </ng-container>
                <ng-container *ngSwitchCase="Presentation.LIST_YEAR">
                    Stand {{balance.date | date:'year'}}
                </ng-container>
            </div>
            <div>{{balance.amount | amount}}</div>
            <button (click)="showTransactions(balance.date)">Transaktionen</button>
        </div>
        <div>
            <button *ngIf="selection.account.active" (click)="setActive(false)">Deaktivieren</button>
            <button *ngIf="!selection.account.active" (click)="setActive(true)">Aktivieren</button>
            <a [routerLink]="['/accounts', selection.account.id]">Bearbeiten</a>
            <button (click)="select(null)">Schließen</button>
        </div>
    </div>
</div>
