<form [formGroup]="form" (ngSubmit)="submit()" [class.show-errors]="showErrors">
    
    <div class="field">
        <label>
            <span i18n>Name</span>
            <input formControlName="name">
        </label>
        <div *ngIf="showErrors && name.invalid" class="error" i18n>
            Name required
        </div>
    </div>

    <div class="field">
        <label>
            <span i18n>Group</span>
            <select formControlName="parent">
                <option *ngFor="let account of parentAccountList" [ngValue]="account.id">
                    <app-account-name [account]="account" [accountHierarchy]="accountHierarchy" 
                        [indented]="true">
                    </app-account-name>
                </option>
            </select>
        </label>
        <div *ngIf="showErrors && parent.invalid" class="error" i18n>
            Group required
        </div>
    </div>
    
    <div class="buttons">
        <button type="button" (click)="cancel()" i18n>Abbrechen</button>
        <button [disabled]="submitted" i18n>Speichern</button>
    </div>
    
</form>